.mainBg {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(106.44deg, #0F52AC 1.14%, #82B7FF 94.26%);
}

.mainCard {
  width: 90vw;
  height: 90vh;
  background: 
  white url('/images/noise.svg');
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.section1Text {
  width: 420px;
}

.mainText {
  font-size: 46px;
  font-weight: 600;
  line-height: 150%;
}

.mainText span {
  color: var(--primary-color);
}

.descText {
  font-size: 20.18px;
  line-height: 150%;
}